<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  </head>
  <div class="container">
    <!--div class="Principal"-->
    <div class="contenedor_catalogo">
    
     <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/WEB_DPERSONALES_ESTUDIANTE.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=1">
        <img src="assets/img1.png" alt="Datospersonales"></a>
        <p>Datos personales</p>
      </div>
      <div class="tarjetas">
          
          <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/MENU/MENU_ESTUDIANTE/WEB_SUB_MENU.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=2" target="_self">
            <img src="assets/img2.png" alt="">
          </a>
          <p>Matriculacion</p>  
      </div>
      <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/MENU/MENU_ESTUDIANTE/WEB_SUB_MENU.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=43">
        <img src="assets/img3.png" alt=""></a>
        <p>Matriculacion de componentes</p>  
    </div>
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/WEB_CONSULTA_CALIFICACIONES.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=4">
        <img src="assets/certificado.png" alt=""></a>
        <p>Calificaciones</p>  
    </div>
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/WEB_ESTUDIANTE_CONSULTA_ASISTENCIA.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=5">
        <img src="assets/pautas.png" alt=""></a>
        <p>Asistencia</p>  
    </div>
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/WEB_CONSULTA_HORARIO.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=6">
        <img src="assets/horarios.png" alt=""></a>
        <p>Horarios</p>  
    </div>
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/MALLA/WEB_MALLA_.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=7">
        <img src="assets/malla.jpg" alt=""></a>
        <p>Malla</p>  
    </div>
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/WEB_CONSULTA_ORDEN_PAGO.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=8">
        <img src="assets/pago.png" alt=""></a>
        <p>Orden de pago</p>  
    </div>
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/EVALUACION_DOCENTE/WEB_MENUE.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=3">
        <img src="assets/evaluacion.png" alt=""></a>
        <p>Evaluacion al docente</p>  
    </div>
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/siug/TEMPORAL/WEB_ERROR.aspx?aspxerrorpath=/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/WEB_CERTIFICADO_INTERNADO_MEDICINA.aspx">
        <img src="assets/img6.jpg" alt=""></a>
        <p>Internado en medica</p>  
    </div>
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/ACADEMICO/ESTUDIANTE/WEB_ESTUDIANTE_CONSULTA_REGISTRO_ESTUDIANTIL.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=16">
        <img src="assets/disquete.png" alt=""></a>
        <p>Registro estudiantil</p>  
    </div>
    <!--div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/TEMPORAL/WEB_ACCESO_DENEGADO.aspx">
        <img src="assets/img7.png" alt=""></a>
        <p>Datos personales censo</p>  
    </div-->
    <div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/MODULOS/MENU/MENU_ESTUDIANTE/WEB_SUB_MENU.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=21">
        <img src="assets/solicitud.png" alt=""></a>
        <p>Solicitudes academicas</p>  
    </div>
    <!--div class="tarjetas">
        <a href="https://servicioenlinea.ug.edu.ec/SIUG/TEMPORAL/PROCESOS/redirecciona.aspx?COD_USERNAME=1105086225&ROL_NAME=ACA-ESTUDIANTE&COD_DETALE_MENU=45&app=app_ficha_medica_estudiante">
        <img src="assets/img5.png" alt=""></a>
        <p>Ficha medica</p>  
    </div-->
    </div>
   
  <!--/div-->