<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  </head>
  <div class="container">
    <!--div class="Principal"-->
    <div class="contenedor_catalogo">
    
     <div class="tarjetas">
        <img src="assets/img1.png" alt="Datospersonales">
        <p>Datos personales</p>
      </div>
      <div class="tarjetas">
          <img src="assets/img2.png" alt="">
          <p>Matriculacion</p>  
      </div>
      <div class="tarjetas">
        <img src="assets/img3.png" alt="">
        <p>Matriculacion de componentes</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/certificado.png" alt="">
        <p>Calificaciones</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/pautas.png" alt="">
        <p>Asistencia</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/horarios.png" alt="">
        <p>Horarios</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/malla.jpg" alt="">
        <p>Malla</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/pago.png" alt="">
        <p>Orden de pago</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/evaluacion.png" alt="">
        <p>Evaluacion al docente</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/img6.jpg" alt="">
        <p>Internado en medica</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/disquete.png" alt="">
        <p>Registro estudiantil</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/img7.png" alt="">
        <p>Datos personales censo</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/solicitud.png" alt="">
        <p>Solicitudes academicas</p>  
    </div>
    <div class="tarjetas">
        <img src="assets/img5.png" alt="">
        <p>Ficha medica</p>  
    </div>
    </div>
   
  <!--/div-->