
.container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  overflow: hidden;
  padding: 60px, 0;
  padding-left: 1px;
  padding-right: 0px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}
.contenedor{
 /*background-image:url(src/assets/ug1.jpg);*/
 height: 100vh;
  margin-top: 0px;
  background-size: cover;
  /*justify-content: center;*/
  background-position: center;
  width: 100%;
  height: 490px;
  margin: 0;
  padding: 0;
  top: 0;

}
.banner img{
  width: 100%;
  height: 480px;
}
.llamada {
  display: flex;
  flex-direction: column;
}

 h1 {
  font-size: 38px;
  width: 100%;
 padding: 20px 22px;
  background-color: rgba(102, 167, 197, 0.7);
  margin-left: 0px;
  top: 0%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  /*border-radius: 30px 15px 30px 15px;*/
}


@media(max-width:360px) {
  .contenedor{
    width: 100%;
  }
  
}
@media screen and(max-width:575px) {
  .contenedor {
    width: 100%;
  }
 
}
@media screen and(max-width:780px) {
  .contenedor {
    width: 100%;
  }
 
}
