<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  </head>

<div class="container">
<h1 class="h1" mat-dialog-title>Registro</h1>
<mat-card>
<div mat-dialog-content>
    <form [formGroup]="usuarioNuevo" autocomplete="off">
        
        <mat-form-field class="campos-field">
            <mat-label>Tipo de usuario</mat-label>
            <input type="list" matInput placeholder="lista" list ="preparacion" formControlName="lista">
             <datalist id = "preparacion">
                <option  value = "Estudiante"> 
                <option value="Docente">
                <option  value = "Adminitrativo">  
                <option value="Para homologacion">
                <option value="Postulante senecyt">   
            </datalist>
        </mat-form-field>
      
        <mat-form-field class="campos-field">
            <mat-label>Cedula</mat-label>
            <input type="text" matInput placeholder="cedula" formControlName="cedula">
        </mat-form-field>
        <mat-form-field class="campos-field">
            <mat-label>Correo</mat-label>
            <input type="text" matInput placeholder="correo"  formControlName="correo">
        </mat-form-field>
        <mat-form-field class="campos-field">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="contraseña" formControlName="contraseña">
        </mat-form-field>
        <mat-form-field class="campos-field">
            <mat-label>Confirmar contraseña</mat-label>
            <input type="password" matInput placeholder="contraseña" formControlName="contraseña">
        </mat-form-field>
    
<div mat-dialog-action [align]="'end'" class="op">
    <button mat-raised-button class="hed" (click)="agregar()" mat-dialog-close>Registrar</button> 
    <button style="margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
</div>

</form>
</div>
</mat-card>
</div> 
